---
import PokemonCard from "../components/pokemon/PokemonCard.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";
import MainLayout from "../layouts/MainLayout.astro";

const title = 'Pokémon Static | Home'

// http request
const resp = await fetch('https://pokeapi.co/api/v2/pokemon/');
const data = (await resp.json()) as PokemonListResponse;
console.log(data);
---

<MainLayout title={title}>
	<h1 class='text-3xl'>
		Pokémon List
	</h1>
	<section aria-label="Pokemon List" class='grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-4 mt-6'>
		{
			data.results.map(({name, url}) => 
				<PokemonCard 
					name={name} 
					url={url} 
				/>
			)
		}
	</section>
</MainLayout>
